#app {
  margin: 15px 30px;
}

#auditions_found {
  margin: 0px 0px;
}

#search-aug {
  text-align: left;
  font-size: 20px;
}

#show_left_info_box h3 {
  text-align: center;
}

#show_right_info_box p {
  text-align: left;
}

#show-header {
  margin: 30px 0px;
}

#show_roles_column_container {
  padding: 10px 5px;
}

#not_signed_in {
  float: left;
  padding-left: 15px;
}

#crew_container {
  padding: 0px 10%;
}

#show_role_tile {
  padding: 15px 15px;
  margin: 0px 5px;
  background: #A8E7CA;
}
